asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
bleach @ file:///croot/bleach_1732290411627/work
Bottleneck @ file:///home/task_176193794916414/conda-bld/bottleneck_1761937997056/work
brotlicffi @ file:///home/task_176174500256851/conda-bld/brotlicffi_1761745022533/work
certifi @ file:///home/task_175978570701225/conda-bld/certifi_1759786119647/work/certifi
cffi @ file:///home/task_176183215096628/conda-bld/cffi_1761832773152/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
contourpy @ file:///croot/contourpy_1732540045555/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
debugpy @ file:///home/task_175706710974480/conda-bld/debugpy_1757067125926/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
filelock @ file:///croot/filelock_1744281381737/work
fonttools @ file:///home/task_175975467226191/conda-bld/fonttools_1759754871865/work
fsspec @ file:///croot/fsspec_1753796001797/work
gmpy2 @ file:///croot/gmpy2_1738085463648/work
h5py @ file:///croot/h5py_1750862990877/work
idna @ file:///home/task_176191177554882/conda-bld/idna_1761911981359/work
importlib_metadata @ file:///croot/importlib_metadata-suite_1732633488278/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipykernel_1760459840/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1759151815/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///croot/jinja2_1741710844255/work
joblib @ file:///home/task_175792628649810/conda-bld/joblib_1757926345604/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_core_1760643864/work
kaggle @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_kaggle_1754882296/work
kiwisolver @ file:///croot/kiwisolver_1737039087198/work
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
matplotlib==3.10.6
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1761214490209/work
mkl-service==2.5.2
mpi4py @ file:///croot/mpi4py_1749458488241/work
mpmath @ file:///work/perseverance-python-buildout/croot/mpmath_1698864994882/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx @ file:///croot/networkx_1756709277056/work
numexpr @ file:///home/task_176216559863969/conda-bld/numexpr_1762165608958/work
numpy @ file:///home/task_176191363297444/conda-bld/numpy_and_numpy_base_1761914495206/work/dist/numpy-2.3.4-cp312-cp312-linux_x86_64.whl#sha256=cc444d9b2108b5ffa488d41896f761352c3c120280ba1a43f3c073262561e7de
opentelemetry-api @ file:///home/task_175853091018545/conda-bld/opentelemetry-api_1758530926802/work
packaging @ file:///home/task_176104874243446/conda-bld/packaging_1761049080023/work
pandas @ file:///home/task_176233227348745/conda-bld/pandas_1762332326353/work/dist/pandas-2.3.3-cp312-cp312-linux_x86_64.whl#sha256=0864c010797a6bd32dd751b2e8470cd1061bae036d65da48dc69a4606b4674eb
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1755974222/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///croot/pillow_1752524526621/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1759953252/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1756321756983/work
protobuf @ file:///croot/protobuf_1742419705443/work/bazel-bin/python/dist/protobuf-5.29.3-cp312-abi3-linux_x86_64.whl#sha256=b288453436273a46653983ade721c0c62cfa5ef6c012b110674c369d25536d88
psutil @ file:///home/task_176189642211680/conda-bld/psutil_1761896463664/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pycparser @ file:///home/task_175749564075091/conda-bld/pycparser_1757496039511/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
pyparsing @ file:///croot/pyparsing_1731445506121/work
PyQt6==6.9.1
PyQt6_sip @ file:///home/task_175751008914507/conda-bld/pyqt-split_1757511022708/work/pyqt_sip
PySocks @ file:///home/task_176175225699803/conda-bld/pysocks_1761753009944/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-slugify @ file:///croot/python-slugify_1756292271338/work
pytz @ file:///croot/pytz_1752135852232/work
pyzmq @ file:///home/task_175810350411579/conda-bld/pyzmq_1758103935618/work
requests @ file:///croot/requests_1756709366904/work
scikit-learn @ file:///home/task_175861954172863/conda-bld/scikit-learn_1758619602990/work
scipy @ file:///home/task_176219500524435/conda-bld/scipy_1762195054327/work/dist/scipy-1.16.3-cp312-cp312-linux_x86_64.whl#sha256=d4ed7802cf02478a78070a11ad59568be296ce73d522e2f91a73d540eeaa0765
seaborn @ file:///croot/seaborn_1749110291192/work
setuptools==80.9.0
sip @ file:///croot/sip_1756223371714/work
six @ file:///croot/six_1744271502820/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
sympy @ file:///croot/sympy_1756713465822/work
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
threadpoolctl @ file:///croot/threadpoolctl_1719407800858/work
torch @ file:///croot/libtorch_1746637505019/work
torchvision @ file:///croot/torchvision_1746818797271/work
tornado @ file:///croot/tornado_1748956929273/work
tqdm @ file:///croot/tqdm_1738943501192/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
typing_extensions @ file:///croot/typing_extensions_1756280817316/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
urllib3 @ file:///croot/urllib3_1750775463400/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1758622279606/work
webencodings @ file:///work/perseverance-python-buildout/croot/webencodings_1698866454420/work
wheel==0.45.1
zipp @ file:///croot/zipp_1732630741423/work
